/* ---Elements---*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

h1 {
    size: 48px;
    font-weight: 800;
}

h2 {
    size: 36px;
    font-weight: 800;
    color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    size: 18px;
}

/* ---Combination---*/
.header,
.hero,
.information,
.quote,
.call-to-action,
.footer{
    padding: 0px 150px;
    border: 0;
    flex:auto;
}

button,
.call-to-action {
    background-color: #3882f6;
    color: white;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: white;
}

.white-subtext,
li {
    color: #e5e7eb;
}

/* ---Blocks---*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 25px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
/* ---Parts---*/

.logo {
    size: 24px;
    color: #f9faf8
}

.img-placeholder{
    background-color: grey;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrations-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustration{
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote-text {
    size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-autour {
    font-weight: 500;
    align-self: flex-end;
}